# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
*.sqlite3
/media/
/staticfiles/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# PyCharm
.idea/
